# =================================================
# Local Development Environment Variables
# =================================================
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_cloudflare_turnstile_site_key

# opsional
# NEXT_PUBLIC_SITE_URL=
# NEXT_PUBLIC_SITE_ICON=favicon.ico
# NEXT_PUBLIC_SITE_PREVIEW=og-image.png

# Example:
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# Maintenance mode options:
# no   -> normal
# yes  -> forced maintenance
# auto -> maintenance only when Supabase queries fail
NEXT_PUBLIC_MAINTENANCE_MODE=no
# Custom message (optional)
# NEXT_PUBLIC_MAINTENANCE_MESSAGE="Platform sedang maintenance. Mohon tunggu."
